<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body {% block imagemfundo %} {% endblock %}>
    
    <nav>
        <div class="logo">
            <img src="../static/img/logo.png" alt="logo">
        </div>
        <div class="menu">
            <a href="{{url_for('index')}}">Home</a> | <a href="{{url_for('quemsomos')}}">Quem somos</a> | <a href="{{url_for('contato')}}">Contato</a>
        </div>
    </nav>

    {% block content %} {% endblock %}

    <footer>
        <h3>Todos os direitos reservados</h3>
    </footer>

</body>

</html>